<%= render "shared/header" %>
<main class="main">
  <div class="inner">
    <div class="page-top">
      <h1 class="page-heading">買い物リスト</h1>
      <input class="add-submit" type="submit" value="食材管理に追加">
      <input class="reset-submit" type="submit" value="リセット">
    </div>
    <div class="card__wrapper">
      <div class="card">
        <div class="card__body">
          <h2 class="card__title">野菜・果物</h2>
          <ul class="card__summary">
            <li>食品</li>
          </ul>
          <div class="form">
            <div class="form-input">
              <input class="form-foodstuff" placeholder= "食材名をお入れください">
            </div>
            <input class="form-submit" type="submit" value="追加">
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card__body">
          <h2 class="card__title">肉・魚・卵など</h2>
          <ul class="card__summary">
            <li>食品</li>
          </ul>
          <div class="form">
            <div class="form-input">
              <input class="form-foodstuff" placeholder= "食材名をお入れください">
            </div>
            <input class="form-submit" type="submit" value="追加">
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card__body">
          <h2 class="card__title">冷凍食品</h2>
          <ul class="card__summary">
            <li>食品</li>
          </ul>
          <div class="form">
            <div class="form-input">
              <input class="form-foodstuff" placeholder= "食材名をお入れください">
            </div>
            <input class="form-submit" type="submit" value="追加">
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card__body">
          <h2 class="card__title">飲料水</h2>
          <ul class="card__summary">
            <li>食品</li>
          </ul>
          <div class="form">
            <div class="form-input">
              <input class="form-foodstuff" placeholder= "食材名をお入れください">
            </div>
            <input class="form-submit" type="submit" value="追加">
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card__body">
          <h2 class="card__title">調味料</h2>
          <ul class="card__summary">
            <li>食品</li>
          </ul>
          <div class="form">
            <div class="form-input">
              <input class="form-foodstuff" placeholder= "食材名をお入れください">
            </div>
            <input class="form-submit" type="submit" value="追加">
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card__body">
          <h2 class="card__title">保存食</h2>
          <ul class="card__summary">
            <li>食品</li>
          </ul>
          <div class="form">
            <div class="form-input">
              <input class="form-foodstuff" placeholder= "食材名をお入れください">
            </div>
            <input class="form-submit" type="submit" value="追加">
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<%= render "shared/footer" %>
