.shop {
  width: 100vw;
  display: flex;
  padding: 30px 60px;
  justify-content: center;
}
/* left */
.shop-list {
  width: 80vh;
  background-color: white;
  border: 1px solid black;
  margin-right: 60px;
}
.food-shop {
  width: 100%;
  font-size: 30px;
  text-align: center;
  background-color: chartreuse;
}
.shop-lists {
  display: flex;
  width:50%;
  margin-left: 20px;
  margin-top: 20px;
}
.shop-lists>.list{
  width: 50%;
  float:left;
  margin-left: 20px;
} 
/* right */
.shop-purpose {
  height: 35vh;
  width: calc(100vw - 85vw);
  margin: 10px 10px;
  border-radius: 10px;
  border: solid 1px black;
}
.purpose-title {
  height: 30px;
  text-align: center;
  border-bottom: black 1px solid;
  background-color: #dddddd;
}
.purpose-main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
/* フォーム内 */
.purpose {
  width: 15vw;
  display: flex;
  flex-direction: column;
  margin-left: 18%;
  padding-top: 20px;
}
.purpose-text-wrap {
  width: 50%;
  height: 10%;
}
.purpose-text {
  font-size: 14px;
  font-weight: bold;
  width: 10vw;
}
.js-form__text-field {
  width: 50%;
  margin-top: 5px;
  height: 15px;
  padding: 8px 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
  font-size: 14px;
  text-align: center;
}
/* 下部ボタン */
.add-btn-purpose {
  width: 80%;
  text-align: center;
}
.js-submit {
  background: greenyellow;
  border: 1px solid greenyellow;
  color: #fff;
  width: 30%;
  height: 40px;
  font-size: 14px;
  margin-bottom: 4vh;
  margin-right: 50px;
  margin-top: 20px;
  text-align: center;
}
/* 共通 */
.indispensable {
  background: #ea352d;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}